---
import type { ImageMetadata } from 'astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	image?: ImageMetadata;
	ogImage?: string;
	type?: 'website' | 'article';
	publishedDate?: Date;
	modifiedDate?: Date;
}

const { title, description, image, ogImage, type, publishedDate, modifiedDate } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
			image={image}
			ogImage={ogImage}
			type={type}
			publishedDate={publishedDate}
			modifiedDate={modifiedDate}
		/>
	</head>
	<body class="min-h-screen flex flex-col bg-white">
		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
